<div id='avilability_responses' class='col-sm-6'>
  <%= render :partial => "availability_responses" %>
</div>
<div id='no_responses' class='col-sm-6'>
  <%= render :partial => "no_responses" %>
</div>
