      <div class="flash-msg">
        <% flash.each do |name, msg| %>  
        <!-- for each flash event -->
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= flash_css_select(name)%>">
              <a class="close" data-dismiss="alert">&#215;</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
      </div>