  <div class='col-xs-12 col-sm-10 col-sm-offset-1'>
    <h3 style="margin-top: 0px;">Admin Dashboard - <%= @member.full_name.titleize %> (Admin)</h3>
    <div class='col-sm-12'>
      <!--
      <div class='row col-sm-12'>
      <%= link_to "Add Sitters", log_in_path, :class => "btn btn-lg btn-primary max-width" %>
      </div>
      <div class='row col-sm-12'>
      <%= link_to "Request Babysitting", log_in_path, :class => "btn btn-lg btn-primary max-width" %>
      </div>
      -->
    </div>
  </div>
