  <h1>Dashboard</h1>
  
  <div class='col-sm-12'>
    <p>Welcome <%= @member.first_name %>:<br />
    </p>
    <p>
      <%= link_to "Add Sitters", log_in_path %>
    </p>
    <p>
      <%= link_to "Request Babysitting", log_in_path %>
    </p>
  </div>
