  <div class='col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4'>
    <h3 style="margin-top: 0px;">Payments Dashboard</h3>
    <p>Welcome <%= @member.last_name.titleize %> family</p>
    <div class='col-sm-12'>
      <!--
      <div class='row col-sm-12'>
      <%= link_to "Add Sitters", log_in_path, :class => "btn btn-lg btn-primary max-width" %>
      </div>
      <div class='row col-sm-12'>
      <%= link_to "Request Babysitting", log_in_path, :class => "btn btn-lg btn-primary max-width" %>
      </div>
      -->
      <%= render :partial => "transactions" %>
    </div>
  </div>
